#root {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

main {
  grid-area: main;
  display: flex;
  width: 100%;
}

main .productsWrapper {
  width: 70%;
  padding: 30px;
}

main .filterWrapper {
  width: 30%;
  padding: 20px;
}
