.productsWrapper {
    display: flex;
    justify-content: space-around;
    .productItem {
        border: 1px solid #ddd;
        max-height: 200px;
        .productImg {
            img {
                height: 150px;
            }
        }
        .productDesc {
            display: flex;
            justify-content: space-around;
            h4 {
                margin: 0;
            }
        }
    }
}